<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./signup.css" />
  <title>CarRent</title>
</head>
<div class="container">
  <header class="header">
    <div class="logo">
      <img src="../assets/logo.jpg" alt="grid" class="icon" />
      <div class="title">
        <h1>CarRental</h1>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="heading-section">
      <h2>Let's get started</h2>
    </div>
    <form name="signupForm" class="form-section" ng-controller="SignupController" ng-submit="submitForm()">
      <div class="name">
        <div class="form-field">
          <label for="firstName">First name</label>
          <div class="input-container">
            <input type="text" id="firstName" placeholder="First name" ng-model="formData.firstName" name="firstName" ng-pattern="/^[a-zA-Z]+$/" required />
            <p class="error-message" ng-show="signupForm.firstName.$error.pattern && signupForm.firstName.$dirty">First name should only contain letters.</p>
          </div>
        </div>
        <div class="form-field">
          <label for="lastName">Last name</label>
          <div class="input-container">
            <input type="text" id="lastName" placeholder="Last name" ng-model="formData.lastName" name="lastName" ng-pattern="/^[a-zA-Z]+$/" required />
            <p class="error-message" ng-show="signupForm.lastName.$error.pattern && signupForm.lastName.$dirty">Last name should only contain letters.</p>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <div class="input-container">
          <input type="email" id="email" placeholder="Email" ng-model="formData.email" name="email" ng-pattern="/^[a-zA-Z\d][^\s@]+@[^\s@]+\.[a-zA-Z]+$/" required />
          <p class="error-message" ng-show="signupForm.email.$error.pattern && signupForm.email.$dirty">Invalid email address.</p>
        </div>
      </div>
      <div class="form-field">
        <label for="username">Username</label>
        <div class="input-container">
          <input type="text" id="username" placeholder="Username" ng-model="formData.username" name="username" required />
          <p class="error-message" ng-show="usernameExists">User already exists. Please Login!</p>
        </div>
      </div>
      <div class="form-field">
        <label for="phone">Phone number</label>
        <div class="input-container">
          <input type="text" id="phoneNumber" placeholder="Phone number" ng-model="formData.phone" name="phone" ng-pattern="/^\d{10}$/" required />
          <p class="error-message" ng-show="signupForm.phone.$error.pattern && signupForm.phone.$dirty">Invalid phone number. Please enter a 10-digit number.</p>
        </div>
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <div class="input-container">
          <input type="password" id="password" placeholder="Password" ng-model="formData.password" required name="password" ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+<>?])[A-Za-z\d!@#$%^&*()_+<>?]{8,}$/" />
          <p class="error-message" ng-show="signupForm.password.$error.pattern && signupForm.password.$dirty">Password should contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one number and one special character.</p>
        </div>
      </div>
      <div class="form-field">
        <label for="confirmPassword">Confirm password</label>
        <div class="input-container">
          <input type="password" id="confirmPassword" placeholder="Confirm password" ng-model="confirmPassword" name="confirmPassword" ng-change="confirm()" required />
          <p class="error-message" ng-show="!arePasswordsEqual">Passwords do not match.</p>
        </div>
      </div>
      <button class="continue-button" type="submit">Sign Up</button>
    </form>

    <div class="new-user">
      <p>Already Registered?</p>
    </div>

    <div class="signup-button">
      <button ng-click="goToLogin()">Login</button>
    </div>

    <div id="toast" ng-show="show" class="toast">
      <div class="toast-body">User added successfully!</div>
    </div>
  </div>
</div>
