body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: black;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

section {
  padding: 20px;
}

h2 {
  color: black;
}

.trip-card {
  max-width: 40vw;
  overflow: auto;
  background-color: #fff;
  padding: 1rem;
}

.trip-card img {
  max-width: 80%;
  max-height: 200px;
}

p {
  margin: 5px 0;
}

#upcoming-trips,
#previous-trips,
#ongoing-trips,
header {
  max-width: 80vw;
  margin: 50px auto;
  background: #ffffff81;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#previous-trips-list,
#upcoming-trips-list,
#ongoing-trips-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.highlight {
  background: #fff;
  color: turquoise;
}

.trip-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.highlight {
  font-weight: bold;
}

#upcoming-trips-list,
#previous-trips-list,
#ongoing-trips-list {
  margin-top: 20px;
}

#upcoming-trips-list p,
#previous-trips-list p,
#ongoing-trips-list p {
  margin-top: 10px;
}

#upcoming-trips-list img,
#previous-trips-list img,
#ongoing-trips-list img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  float: left;
}

#upcoming-trips-list .trip-card,
#previous-trips-list .trip-card,
#ongoing-trips-list .trip-card {
  overflow: auto;
}

li {
  font-weight: bold;
  cursor: pointer;
}

#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  z-index: 1;
}
