<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="login-form">
        <h2>Login</h2>
        <!-- Login form content goes here -->
        <!-- views/login.html -->
        <form class="login-form">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <button class="btn btn-default" style="margin-top: 2rem;" ng-click="goToSignup()">First time here? Register</button>
      </form>
    </div>
  </div>
</div>
